[submodule "phenix-pins"]
	path = flakes/00-pins/phenix-pins
	url = git@github.com:matthis-k/phenix-pins.git
[submodule "phenix-packages"]
	path = flakes/04-pkgs/phenix-packages
	url = git@github.com:matthis-k/phenix-packages.git
[submodule "phenix-nvim"]
	path = flakes/02-producers/phenix-nvim
	url = git@github.com:matthis-k/phenix-nvim.git
[submodule "phenix-hosts"]
	path = flakes/05-consumers/phenix-hosts
	url = git@github.com:matthis-k/phenix-hosts.git
[submodule "phenix-tools"]
	path = flakes/02-producers/phenix-tools
	url = git@github.com:matthis-k/phenix-tools.git
[submodule "phenix-de"]
	path = flakes/05-consumers/phenix-de
	url = git@github.com:matthis-k/phenix-de.git
