[submodule "phenix-pins"]
	path = phenix-pins
	url = git@github.com:matthis-k/phenix-pins.git
[submodule "phenix-packages"]
	path = phenix-packages
	url = git@github.com:matthis-k/phenix-packages.git
[submodule "phenix-nvim"]
	path = phenix-nvim
	url = git@github.com:matthis-k/phenix-nvim.git
[submodule "phenix-hosts"]
	path = phenix-hosts
	url = git@github.com:matthis-k/phenix-hosts.git
[submodule "phenix-tools"]
	path = phenix-tools
	url = git@github.com:matthis-k/phenix-tools.git
[submodule "phenix-de"]
	path = phenix-de
	url = git@github.com:matthis-k/phenix-de.git
